APP_ENV=production
APP_NAME="PT. Barongko Darma Logistik"
APP_URL=http://localhost/logistic

COMPANY_NAME="PT. BARONGKO DARMA LOGISTIK"
COMPANY_ADDRESS="Jl. Kalianget No. 96 Surabaya"
COMPANY_PHONE="0811 5877 234"
COMPANY_EMAIL="ptbarongkodarmalogistik@gmail.com"
COMPANY_LOGO="img/logo.png"

DB_HOST=
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASS=
DB_CHARSET=utf8mb4
