<IfModule mod_rewrite.c>
    RewriteEngine On

    # Stop rewrite process if the requested file or directory exists
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Route everything to index.php
    RewriteRule ^ index.php [L]
</IfModule>
